∂body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DDE5ED;
}

header {
  width: 100%;
  background: #92ACA0;
  color: #3E5D58;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 20px;
  padding-right: 20px;
}

.brand-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #3E5D58;
  font-size: 16px;
}

.navbar-links ul li a:hover {
  color: #d1e8ff;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.filter-pill.active {
  background-color: #3E5D58;
  color: white;
}


.menu-toggle:checked ~ .navbar-links {
  display: flex;
  flex-direction: column;
  background-color: #3E5D58;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.menu-toggle:checked ~ .navbar-links ul {
  flex-direction: column;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu-toggle:checked ~ .navbar-links {
    display: flex;
  }
}

main.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  padding: 20px;
  background-color: #f4f4f9;
}

main.login-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

main.login-page .alternative-signin {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

main.login-page .form-group {
  margin-bottom: 15px;
}

main.login-page input[type="email"],
main.login-page input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

main.login-page button {
  width: 100%;
  padding: 10px;
  background-color: #92ACA0;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

main.login-page button:hover {
  background-color: #92ACA0;
}

main.login-page .alternative-signin {
  text-align: center;
  margin-top: 20px;
}

main.login-page .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3E5D58;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

main.login-page .google-btn img {
  width: 20px;
  margin-right: 10px;
}

.logout-btn {
  background-color: #db4437;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #a33228;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width:calc(100% - 40px);
  overflow-y: scroll;
  height: calc(100vh - 104px);
  justify-content: center;
  align-content: flex-start;
}

/* Card Styling */
.card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: #92ACA0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: fit-content; 
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Elevate on hover */
}

/* Card Image */
.card-image {
  width: 100%;
  height: 180px; /* Fixed height for images */
  object-fit: cover; /* Ensure image fits nicely */
  border-bottom: 1px solid #e0e0e0; /* Subtle separator */
}

/* Card Content */
.card-content {
  padding: 16px;
  max-width: 100%; 
  white-space: nowrap;
  overflow: hidden; 
  box-sizing: border-box;
}

.card-content form{
  height:80px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #3E5D58;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1.1rem;
  color: #3E5D58;
  font-weight: 500;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden; 
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.card-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3E5D58;
  margin-bottom: 15px;
}

/* Button Styling */
.card-btn {
  background-color: #3E5D58; /* Primary color */
  color: #f2f3f8;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #21867a; /* Darker on hover */
}

/* General Form Styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1rem;
    color: #92ACA0;
    display: block;
    margin-bottom: 8px;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box; /* Include padding in the element's total width */
    background-color: #f2f3f8;
    transition: border-color 0.3s ease;
}

/* Focus States */
.form-group input:focus, 
.form-group textarea:focus, 
.form-group select:focus {
    border-color: #3E5D58;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Textarea Specific Styling */
.form-group textarea {
    resize: vertical;
    min-height: 120px;
}

/* Button Styling */
.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-actions .btn {
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-actions .btn-primary {
    background-color: #3E5D58;
    color: #f2f3f8;
    border: none;
}

.form-actions .btn-primary:hover {
    background-color: #92ACA0;
}

.form-actions .btn-secondary {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

.form-actions .btn-secondary:hover {
    background-color: #e0e0e0;
}
.main-content{
  overflow: hidden;
}
#main-content-filter{
  height: calc(100vh - 64px);
}
/* Form Container */
.main-content .form-listing {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    text-align: center;
    white-space: wrap;
    height:56px;
    color: #3E5D58;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* Responsive Design for Forms */
@media (max-width: 768px) {
    .form-actions {
        flex-direction: column;
    }

    .form-actions .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

.qty-cart{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100px;
    gap:5px;
}
#qty-label{
  color:#3E5D58;
}
.qty-cart .cart-btn{
    background-color: #3E5D58; /* Primary color */
    padding:10px;
    color: #DDE5ED;
    border: none;
    border-radius: 4px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.qty-cart .cart-btn:hover{
    background-color: #21867a; /* Darker on hover */

}

/* General styles for alert messages */
.message {
  position: absolute;
  top: 40%; /* Position the message at the top of the screen */
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* Center the message horizontally */
  background-color: #4CAF50; /* Default to green (success) */
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 80%; /* Adjust the width as needed */
  max-width: 500px; /* Set a max-width for large screens */
  animation: fadeOut 3s forwards;
}

/* Error message styling */
.message.error {
  background-color: #f44336; /* Red for errors */
}

/* Warning message styling */
.message.warning {
  background-color: #ff9800; /* Orange for warnings */
}

/* Close button inside the message */
.message .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0;
}

.message .close-btn:hover {
  color: #ddd;
}

/* For the alert-success class */
.alert-success {
  background-color: #4CAF50;
}

/* For the alert-danger class */
.alert-danger {
  background-color: #f44336;
}

/* For the alert-warning class */
.alert-warning {
  background-color: #ff9800;
}

/* For alert information */
.alert-info {
  background-color: #2196F3;
}
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  max-width: 400px;
  width: 90%;
}

.modal .form-listing {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content {
  position: relative;
}

.main-content.modal-active .card-container {
  opacity: 0.5;
  pointer-events: none;
}

/*Cart Page*/
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f2f3f8;
  border-radius: 20px;
  width:600px;
  padding:20px;
  height:500px;
  gap: 16px;
}
.empty-cart-message{
  height:500px;
  display: flex;
  align-items: center;
}

.cart-main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding:20px;
  height:calc(100vh - 104px);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 15px;
  height:130px;
  width: calc(100% - 30px);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

@media (max-width:780px) {
  .cart-container{
    width: calc(100vw - 90px);
  }
  .cart{
    width: calc(100vw - 90px);
  }
}
.cart-content div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-content div span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: solid #3E5D58 1px;
}
.cart-remove-container{
  display: flex;
  width:100%;
  padding-top:10px;
  padding-right:10px;
  justify-content: end !important;
}
.cart-remove-container .remove-btn{
  background-color: #ff496c;
  color: #f2f3f8;
  padding:8px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap:0px;
  width: 400px;
  height: 100px;
  justify-content: space-between;
}

.cart-title {
  font-size: 1.2em;
  font-weight: 600;
  text-align: start !important;
  margin: 0 !important;
}

.cart-description {
  font-size: 0.9em;
  color: #7d7d7d;
  line-height: 1.4;
  margin: 0 !important;
}

.cart-price,
.cart-qty {
  font-size: 1em;
  font-weight: 500;
  color: #2c3e50;
  margin: 0 !important;
}

.cart-func{
  display: flex;
  flex-direction: row;
  width:600px;
  padding:20px;
  height:500px;
  gap: 16px;
  justify-content: flex-end;
}
/*Success Page*/
.purchased-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto ;
  padding: 20px;
  gap:5px;
  height:calc(100vh - 104px);
}

.order-purchased{
  display: flex;
  flex:0 0 auto;
  flex-direction: column;
  justify-content: center;
  width: fit-content;

}
.order-id{
  min-width: 400px;
  width:30vw;
}

.purchased {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}
.purchased-content div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.purchased-content div span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.purchased:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purchased-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: solid #3E5D58 1px;
}

.purchased-content {
  display: flex;
  flex-direction: column;
  gap:0px;
  width:calc(100% - 16px);
  height: 100%;
  justify-content: space-between;
}

.purchased-title {
  font-size: 1.2em;
  font-weight: 600;
  text-align: start !important;
  margin: 0 !important;
}

.purchased-description {
  font-size: 0.9em;
  color: #7d7d7d;
  line-height: 1.4;
  margin: 0 !important;
}

.purchased-price,
.purchased-qty {
  font-size: 1em;
  font-weight: 500;
  color: #2c3e50;
  margin: 0 !important;
}

.purchased-btn{
  display: flex;
  width:100%;
  padding-top:10px;
  padding-right:10px;
  justify-content: end !important;
}
.purchased-btn button{
  background-color: #3E5D58;
  color: #f2f3f8;
  padding:8px;
  border-radius: 5px;
  border: none;
  cursor:pointer;

}
.cart-func button{
  background-color: #3E5D58;
  color: #f2f3f8;
  padding:8px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}
.search-form button{
  background-color: #3E5D58;
  color: #f2f3f8;
  padding:8px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}

/* General error styling */
.error {
  color: #d9534f; /* Red color for errors */
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

/* Style for the error messages only */
.error span {
  display: inline-block;
  padding: 5px;
  border: 1px solid #d9534f;
  background-color: #f8d7da;
  border-radius: 5px;
  margin-top: 5px;
}

/* Optional: Highlight form-group when there are errors */
.form-group.error {
  position: relative;
  margin-bottom: 15px;
}

.form-group.error input,
.form-group.error textarea,
.form-group.error select {
  /* Remove red styling from the input fields */
  background-color: #fff;
}

/* If you want to highlight the label */
.form-group.error label {
  color: #d9534f; /* Red color for label */
}


.filter-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  text-align: center;
  padding: 0.5rem 0;
  background-color: #f9f9f9; /* Optional: Add a background for better visibility */
  border-bottom: 1px solid #ddd; /* Optional: Add a border */
}

.filter-pills {
  display: inline-flex; /* Display pills inline */
  gap: 0.5rem; /* Add spacing between pills */
}
#belowFilter{
  height:calc(100vh - 157px);
  overflow-y: scroll;
}
.filter-pill {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 20px; /* Round edges for pill shape */
  background-color: #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-pill:hover {
  background-color: #3E5D58; /* Change to primary color on hover */
  color: #fff;
}

.filter-pill:focus,
.filter-pill:active {
  background-color: #123c35; /* Darker shade for active */
  color: #fff;
  outline: none; /* Remove default focus outline */
}

.search-container{
  padding:20px;
  display:flex;
  flex-direction: column;
  gap:10px;
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input:focus {
  border-color: #4CAF50; /* Highlight color on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.search-form{
  display:flex;
  flex-direction: column;
  width:300px;
}
/*Seller Management*/
.sales-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.sales-table th, .sales-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.sales-table th {
  background-color: #333;
  color: white;
}

.sales-table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.sales-table td form {
  margin: 0;
}

.sales-table td form button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.sales-table td form button:hover {
  background-color: #45a049;
}

.sold-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.sold-content {
  display: flex;
  flex-direction: column;
}

.sold-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.sold-description {
  font-size: 0.9rem;
  color: #666;
}

.sold-price, .sold-qty {
  font-weight: bold;
}

.solo-container {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin:20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
}
#main-container{
  display:flex;
  justify-content: center;
}

.solo-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.solo-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.solo-description,
.solo-price,
.solo-date,
.solo-seller-id {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}

.solo-container div {
  width: 400px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
}


.solo-btn {
  background-color: #3E5D58;
  color: #f2f3f8;
  padding:8px;
  font-size:  1rem;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}

.solo-btn:hover {
  background: #66706e;
}
a {
  text-decoration: none;
}

/* Entity card styles */
.entity-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.entity-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.entity-card:hover {
  transform: translateY(-5px);
}

/* Styling for the entity details */
.entity-card h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #333;
}

.entity-card p {
  font-size: 1em;
  margin: 5px 0;
  color: #555;
}

.entity-card strong {
  font-weight: bold;
}

/* Cart quantity indicator */
.cartQtyIndicator {
  background-color: #3E5D58;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
}

/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 12px;  /* width of the scrollbar */
  height: 12px; /* height for horizontal scrollbar */
}

/* Style the scrollbar track (the part the thumb slides within) */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Light gray background for the track */
  border-radius: 10px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;    /* Color of the thumb */
  border-radius: 10px;
}

/* Change thumb color when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555;   /* Darker color on hover */
}

/* Style the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Match the track background */
}
