<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Selling Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar">
          <div class="brand-title">Aegis</div>
          <input type="checkbox" id="menu-toggle" class="menu-toggle" />
          <label for="menu-toggle" class="hamburger">☰</label>
          <div class="navbar-links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/seller/sales">Sales</a></li>
              <li><a href="/seller/newposting">new +</a></li>
              <li><a href="/logout" id="logoutForm">Logout</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="main-content" th:classappend="${uenEntry} ? 'modal-active' : ''">
        <div class="card-container">
          <div th:each="item : ${item}" class="card">
            <img th:src="${item.image}" alt="Item Image" class="card-image" />
            <div class="card-content">
              <h2 th:text="${item.title}" class="card-title"></h2>
              <p th:text="${item.content}" class="card-description"></p>
              <p th:text="${item.price}" class="card-price"></p>
              <button class="card-btn">Check Item</button>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${uenEntry}" class="modal">
        <form
          th:action="@{/api/regAcra}"
          method="post"
          class="form-listing"
          th:object="${uenEntry}">
          <div class="form-group">
            <label for="uen">Enter UEN No:</label>
            <input
              type="string"
              id="uen"
              name="uen"
              required
            />
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      
    </div>
  </body>
</html>
