<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        iframe {
            width: 100%;
            height: 600px;
            border: none;
        }
        .message {
            color: red;
            margin-top: 20px;
        }
    </style>
</head>
<script>
    const paymentUrl = [[`${paymenturl}`]];
    if (paymentUrl) {
        window.location.href = paymentUrl;
    }
</script>

<body>
    <h1>Checkout</h1>

    <!-- Display the error message if any -->
    <p class="message" th:if="${message}" th:text="${message}"></p>

</body>
</html>
